html,body{
  height: 99%;
  width: 99%;
  background-color: #0c0c17;
  text-align: center;
}
*{
  box-sizing: border-box;
}
h1{
  font-size: 2em;
  text-shadow: 2px 2px #0c0c17;
  font-style: oblique;
}

h1,h2,h3,h4,h5{
  color: white; 
  text-shadow: 2px 2px #0c0c17;
  font-style: oblique;
  font-family: 'M PLUS Rounded 1c', sans-serif;	
  text-transform: capitalize;
}
p,b{
  font-family: 'Courier New', monospace;
  font-size: 20px;
  color: white;
}
ul{
  font-family: 'Courier New', monospace;
  font-size: 20px;
  color: white;
}
a{
  font-family: 'Courier New', monospace;
  font-size: 20px;
  color: white;
}
img{
  border: 2px solid #ffffff;
  border-radius: 15px;
}

.banner{
  background-color: #575757;
  margin: 15px;
  padding: 10px;
  border: 3px outset #ffffff;
  border-radius: 25px;
  box-shadow: 1px 3px 30px 1px #b7cc9d;
  outline: 10px 10px #49796b groove;
  text-transform: capitalize;
  text-shadow: 1px 1px #317873 ;
  font-family: 'M PLUS Rounded 1c', sans-serif;					
  font-size: 10px;
  height: 150px;
  text-align: center;
  font-style: oblique;
}

.container{
  border:2px #afd69b;
  position: relative;
  top: 2px;
  margin: 15px;
  padding: 10px;
  height: 3000px;
  overflow: hidden;
  background-color: #575757;
  margin: 15px;
  padding: 10px;
  border: 3px inset #ffffff;
  border-radius: 25px;
  box-shadow: 1px 3px 30px 1px #b7cc9d;
  outline: 10px 10px #49796b groove;
}

.house{
  display: flex;
  gap: 2%;
}
.window{
  border:2px #afd69b;
  position: relative;
  top: 2px;
  margin: 15px;
  padding: 10px;
  height: 250px;
  width: 30%;
  overflow: hidden;
  background-color: #575757;
  margin: 15px;
  padding: 10px;
  border: 3px inset #ffffff;
  border-radius: 25px;
  box-shadow: 1px 3px 30px 1px #b7cc9d;
  outline: 10px 10px #49796b groove;
}

.wave{
  border: white 2px dashed;
  color: white;
  text-align: center;
  background-color: #0c0c17;
  font-size: 20px;
  height: 50px;
  overflow: hidden;
  width: 80%;
  position: relative;
  transition: height 1s;
  display:block;
}
.wave:hover{
  height:50%;
  top:1px;
  z-index:1;
}
.wavetext{
  text-align: center;
  width: 75%;
}
#l1{
  border:#afd69b 1px solid;
  background-image:repeating-linear-gradient(red, green);
}
.wave:hover{
  height:90%;
  top:1px;
  z-index:1;
}

.menu{
  position: absolute;
  top: 50px;
  left: 70px;
  color:#ffffff;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 3.5em;
  text-shadow: 2px 2px #0c0c17;
  font-style: oblique;
  width: 150px;
  overflow: hidden;
}
.menu a{
  color: #ffffff;
  background-color: #0c0c17;
  text-shadow: 0px 0px ;
  font-size: 0.5em;
  padding: 1px;
  border: 1px solid white;
  display: none;
}
.menu:hover a{
  display: block;
}
.menu a:hover{
  color: #ffff6b;
  background-color: #0c0c17;
}
